@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * {
  padding: 0;
  margin: 0;
} */
body {
  background-color: #f8d9de;
  color: #000000;

  /*font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif; */

  font: normal 16px "Roboto", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 30px;
}

.avatar {
  width: 200px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px rgb(235, 191, 56);
}

.info {
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;

    }

}

.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #000000;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}

/* box model */
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #deb10d;
}

.card {
  padding: 15px 20px;

  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  list-style: none;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2) {
  color: rgb(221, 11, 11);
}

.table th:nth-child(1),
.table th:nth-child(2),
.table th:nth-child(3) {
  background: rgb(255, 200, 0);
}

.link-list {
  list-style: none;
  padding: 0%;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
  margin-bottom: 20px;
}
.row > .form-group::first-child {
  margin-right: 0%;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
/* Position  */
/* .position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
  position: fixed;
  top: 0;
  left: 0px;
  /* bottom: 50px;
  left: 0px; */
} */
